In [1]:
import pandas as pd

# Sample dataset with gene expression values for different samples
data = {
    'Sample1': [10, 5, 8, 15, 12],
    'Sample2': [8, 9, 6, 14, 11],
    'Sample3': [7, 10, 5, 13, 9],
}

# Create a DataFrame from the sample data
df = pd.DataFrame(data)

# Function to perform rank normalization for each gene marker across samples
def rank_normalize(df):
    ranked_df = df.rank(axis=1, method='average')
    total_samples = df.shape[1]
    normalized_df = ranked_df / total_samples
    return normalized_df

# Apply rank normalization to the dataset
normalized_df = rank_normalize(df)

# Print the original and normalized DataFrames
print("Original DataFrame:")
print(df)

print("\nRank-Normalized DataFrame:")
print(normalized_df)

Original DataFrame:
   Sample1  Sample2  Sample3
0       10        8        7
1        5        9       10
2        8        6        5
3       15       14       13
4       12       11        9

Rank-Normalized DataFrame:
    Sample1   Sample2   Sample3
0  1.000000  0.666667  0.333333
1  0.333333  0.666667  1.000000
2  1.000000  0.666667  0.333333
3  1.000000  0.666667  0.333333
4  1.000000  0.666667  0.333333

In [2]:
df

   Sample1  Sample2  Sample3
0       10        8        7
1        5        9       10
2        8        6        5
3       15       14       13
4       12       11        9

In [8]:
df.rank(axis=1)

   Sample1  Sample2  Sample3
0      3.0      2.0      1.0
1      1.0      2.0      3.0
2      3.0      2.0      1.0
3      3.0      2.0      1.0
4      3.0      2.0      1.0

In [7]:
df.T.rank()

           0    1    2    3    4
Sample1  3.0  1.0  3.0  3.0  3.0
Sample2  2.0  2.0  2.0  2.0  2.0
Sample3  1.0  3.0  1.0  1.0  1.0

In [9]:
import numpy as np
from scipy import stats

# Define your binary variable (0 or 1) and continuous variable (numeric scores)
binary_variable = np.array([0, 1, 1, 0, 1, 0, 1, 0, 1, 1])
numeric_scores = np.array([78, 85, 90, 72, 88, 75, 92, 70, 89, 91])

# Compute the biserial rank correlation coefficient and p-value
correlation_coefficient, p_value = stats.pointbiserialr(binary_variable, numeric_scores)

# Print the result
print("Biserial Rank Correlation Coefficient:", correlation_coefficient)
print("P-Value:", p_value)

Biserial Rank Correlation Coefficient: 0.9455527539219166
P-Value: 3.599314213991379e-05

In [10]:
stats.pearsonr(binary_variable, numeric_scores)

PearsonRResult(statistic=0.9455527539219166, pvalue=3.599314213991379e-05)